* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  }
body {
  background-color: darkgrey;
  }
#wrapper {
  max-width: 1080px;
  margin: 0 auto;
  }
ul {
  list-style-type: none;
  }
ul li a {
  display: inline-block;
  text-decoration: none;
  }
header {
  display: grid;
  grid-template-columns: 20% 80%;
  background-image: url("../pic/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
  top: 0;
  z-index: 2;
  }
header img {
  width: 100%;
  padding: 4px;
  }
nav {
  padding: 2px;
  font-size: 16px;
  }
.navbar li a {
  color: rgba(0,0,0,1);
  border-radius: 10px;
  background-color: yellow;
  border: black 1px solid;
  margin: 2px 0;
  width: 100%;
  }
.navbar li a:hover {
  background-color: lightblue;
  }
h2 {
  padding: 4px;
  text-align: center;
  }
p {
  padding: 2px;
  margin: 2px;
  }
footer {
  background-color: black;
  color: white;
  border: white 2px solid;
  padding: 5px;
  margin: 2px 0 0 0;
  }
.navbar {
  text-align: center;
  }
@media screen and (max-width: 530px) {
  .rightbar, .leftbar {
    display: none;
    }
  header {
    max-height: 100px;
    }
  header img {
    max-height: 100px;
    }
  nav {
    max-height: 100px;
    }
  /* SEKCJA GŁÓWNA STRONY*/
  main {
    display: grid;
    }
  .leftimg, .rightimg{
    border-radius: 25%;
    border: black 2px solid;
    width: 25%;
    margin: 4px;
    }
  .leftimg {
    float: left;
    }
  .rightimg {
    float: right;
    }
  }

@media screen and (min-width: 531px) {
  .navbar {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    width: 100%;
    }
  header {
    border: white 2px solid;
    }

  /*SEKCJA GŁÓWNA - FULL SIZE*/
  main {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    border: white 2px solid;
    }
  .leftimg, .rightimg{
    border-radius: 25%;
    border: black 2px solid;
    width: 25%;
    margin: 4px;
    }
  .leftimg {
    float: left;
    }
  .rightimg {
    float: right;
    }
}
